doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/common.css')
    script(src='/libs/jquery.min.js')
    script(src='/libs/loadjs.min.js')
    script(src='/libs/namespace.js')
  body
    script(src='/modules/index.js')