.loading-common {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.loading-body {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
}